<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12" align="center">
        <a>
            <img class="img-responsive" src='https://onfqcq.bl3301.livefilestore.com/y4mlx9JX_4j3H8OiDycpDhNJt6_43IJAYxEYfK3_YxugHj0mL2gYhJTaSjCBOMRKGwJkSjLotJmIP7_XzHVugyobwRLj44EV75Gkl2M7OcU2mqjPHSlzBTtMe9HUwsYSVnXbF6ysptr4E_X-cqN7srmjQ0wbTGaYFPYChXYCaEq_PT71UQJHvc2V45xh-AyEdrUkwGE2b9yIiBCbTo9CKkLfw?width=600&height=506&cropmode=none' />
        </a>
      </div>
    </div>
    <div class="row" align="center">
      <div class="col-md-12">
        <h1>Friday</h1>
        <h3>Rehersal Dinner</h3>
        <h4>(Family & Wedding Party Only)</h4>
        <p>
          <strong>Time:</strong> 6:00pm<br>
          <strong>Location:</strong> Ocean Blue, Utica<br>
          <strong>Transportation:</strong> Shuttle departs hotel at 5:45pm<br>
          <strong>Attire:</strong> Dressy Casual
        </p>
        <p>
          <em>~ Casual drinks at Rogers Estate to follow, all are welcome ~</em>
        </p>
        <h1>Saturday</h1>
        <h3>Wedding Ceremony</h3>
        <p>
          <strong>Time:</strong> 3:33pm<br>
          <strong>Location:</strong> Chapel, Hamilton College<br>
          <strong>Transportation:</strong> Shuttle departs hotel at 3:00pm
        </p>
        <h3>Reception Dinner</h3>
        <p>
          <strong>Time:</strong> 5:00pm<br>
          <strong>Location:</strong> Rogers Estate, Hamilton College<br>
          <strong>Transportation:</strong> Shuttle to hotel departs Rogers at 10pm and 12am<br>
          <strong>Attire:</strong> Cocktail
        </p>
        <h1>Sunday</h1>
        <h3>Casual Brunch</h3>
        <p>
          <strong>Time:</strong> 10:30am<br>
          <strong>Location:</strong> Commons Dining Hall, Hamilton College
        </p>
        <em>~ Entrance tickets will be provided to guests ~</em>
      </div>
    </div>
  </div>
</div>