<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <h2>Who's Coming?</h2>
    <button 
      class="btn btn-info"
      type="button"
      (click)="assignRsvpType('single')"
      >Just Me</button>
    <button 
      class="btn btn-info"
      type="button"
      (click)="assignRsvpType('double')"
      >Me Plus A Guest</button>
  </div>
</div>
<hr>
<div *ngIf="rsvpType" class="row">
    <div class="col-sm-6 col-sm-offset-1">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="primary-guest">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input 
            type="text"
            id="firstName"
            class="form-control"
            ngModel
            name="firstName"
            required
            #firstName="ngModel"
            #firstNameInput>
        </div>
        <span class="help-block" *ngIf="!firstName.valid && firstName.touched">You must provide a first name!</span>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input 
            type="text"
            id="lastName"
            class="form-control"
            ngModel
            name="lastName"
            required
            #lastName="ngModel">
        </div>
        <span class="help-block" *ngIf="!lastName.valid && lastName.touched">You must provide a last name!</span>
        <div class="form-group">
          <label for="email">Email</label>
          <input 
            type="text"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel">
        </div>
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
      </div>
      <div *ngIf="rsvpType === 'double'" class="second-guest">
        <div class="form-group">
          <label for="guestFirstName">Guest First Name</label>
          <input 
            type="text"
            id="guestFirstName"
            class="form-control"
            ngModel
            name="guestFirstName"
            required
            #guestFirstName="ngModel">
        </div>
        <span class="help-block" *ngIf="!guestFirstName.valid && guestFirstName.touched">You must provide the guest's first name!</span>
        <div class="form-group">
          <label for="guestLastName">Guest Last Name</label>
          <input 
            type="text"
            id="guestLastName"
            class="form-control"
            ngModel
            name="guestLastName"
            required
            #guestLastName="ngModel">
        </div>
        <span class="help-block" *ngIf="!guestLastName.valid && guestLastName.touched">You must provide the guest's last name!</span>
        <div class="form-group">
          <label for="guestEmail">Guest Email</label>
          <input 
            type="text"
            id="guestEmail"
            class="form-control"
            ngModel
            name="guestEmail"
            required
            email
            #guestEmail="ngModel">
        </div>
        <span class="help-block" *ngIf="!guestEmail.valid && guestEmail.touched">Please enter a valid email!</span>
      </div>
      <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!f.valid">Submit</button>
    </form>
  </div>
</div>
