<div [ngClass]="{'navbar-fixed-bottom': mobileStatus}" class="topnav">
  <div class="nav-container">
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink] = "['/']"><span class="glyphicon glyphicon-home" title="Home"></span>Home</a>
    <a routerLinkActive="active" [routerLink] = "['/logistics']"><span class="glyphicon glyphicon-plane" title="Logistics"></span>Logistics</a>
    <a routerLinkActive="active" [routerLink] = "['/photos']"><span class="glyphicon glyphicon-camera" title="Photos"></span>Photos</a>
    <a routerLinkActive="active" [routerLink] = "['/registry']"><span class="glyphicon glyphicon-gift" title="Registry"></span>Registry</a>
    <a routerLinkActive="active" [routerLink] = "['/rsvp']"><span class="glyphicon glyphicon-envelope" title="Rsvp"></span>RSVP</a>
  </div>
</div>
