<div class="row">
    <div class="col-md-12" align="center">
      <div class="row">
        <div class="col-md-12">
          <h1>Hotels</h1>
          <p>While our July 7th, 2018 Hamilton (Clinton, NY) wedding is still many months away, 
              we have learned that the auspicious date does overlap with a popular local marathon 
              called the Boiler Maker.  Consequently, hotel rooms in the area will be disappearing quickly.
          </p>
          <p>In anticipation of the rush, we have blocked off rooms at the newest and closest hotel to our 
              Hamilton wedding venue.  You can book accommodations at either of the two links below.  The two 
              properties are adjacent to each other and we will have buses to shuttle guests from these 
              locations to Hamilton campus (10 minute drive).  Due to the high demand during that time period, 
            they do require a two-night minimum stay.
          </p>
          <p><strong>Homewood Suites (more spacious)</strong>: 
            <a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/U/UCANEHW-KRW-20180706/index.jhtml?WT.mc_id=POG">Click Here</a>
          </p>
          <p><strong>Hampton Inn (newer facility)</strong>: 
            <a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/U/UCANHHX-KRW-20180706/index.jhtml?WT.mc_id=POG">Click Here</a>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h1>Venue</h1>
          <p>The wedding and reception will take place at our lovely alma mater, Hamilton College.  
              The address is 198 College Hill Road, Clinton, NY 13323.  Please note Hamilton College is in the town "Clinton", not the nearby town of "Hamilton"!</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h1>Planes</h1>
          <p>The closest major airport is Syracuse Hancock International Airport, which is about an hour drive from Hamilton College.</p>
          <h1>Trains</h1>
          <p>The closest train station is Amtrak's Union Station in Utica, which is about 20 minutes from Hamilton College.</p>
          <h1>Automobiles</h1>
          <p>Put the address "198 College Hill Road, Clinton, NY 13323" into Google Maps and you should be all set!</p>
        </div>
      </div>
    </div>
  </div>