<div class="row">
    <div class="col-md-12" align="center">
      <div class="row">
        <div class="col-md-12">
          <h1>Hotels</h1>
          <p>You can book accommodations at either of the two links below.  The two 
              properties are adjacent and we will have buses to shuttle guests from these 
              locations to Hamilton campus (10 minute drive).  Due to high demand during that time period, 
            they do require a two-night minimum stay.
          </p>
          <a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/U/UCANEHW-KRW-20180706/index.jhtml?WT.mc_id=POG"><strong>Homewood Suites (more spacious)</strong></a>
          <br>
          <a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/U/UCANHHX-KRW-20180706/index.jhtml?WT.mc_id=POG"><strong>Hampton Inn (newer facility)</strong></a>
          <br>
          <br>
          <p>If you would prefer to arrange your own accomodations, there is a great selection of cozy bed and breakfasts in the area. <a href="http://www.airbnb.com/c/gregoryr86"><strong>AirBnB</strong></a> is a great place to start. </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h1>Location</h1>
          <p>The wedding and reception will take place at our lovely alma mater, Hamilton College.  
              The address is:</p>
          <p><strong>Hamilton College<br>198 College Hill Road,<br>Clinton, NY 13323</strong></p>
          <p>Please note, Hamilton College is in the town of Clinton, not the nearby town of Hamilton!</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h1>Transportation</h1>
          <h3>Planes</h3>
          <p>The closest major airport is Syracuse Hancock International Airport, which is about an hour drive from Hamilton College.</p>
          <h3>Trains</h3>
          <p>The closest train station is Amtrak's Union Station in Utica, which is about 20 minutes from Hamilton College.</p>
          <h3>Automobiles</h3>
          <p>Put the address "198 College Hill Road, Clinton, NY 13323" into Google Maps and you should be all set!</p>
        </div>
      </div>
    </div>
  </div>